<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle }}">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  {{> fonts}}
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">
  <link rel="manifest" href="./manifest.json">
  <link rel="apple-touch-icon" href="./images/icon.png"/>

  {{> analytics}}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
  <a id="top"></a>
  {{> navbar otherpage='calendar_he'}}

  <div class="main container" id="session-list">
    <div class="row">
      <div class="middle col-sm-12">
        <h2 class="filter-heading track-heading text-center">
        <span>
          Сетка
        </span>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="button-list container pull-right">
        <button class="btn btn-default export-pdf" type="button">
          <i class="fa fa-download" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 calendar-view">
        <div id="track-list" class="container">
        {{#roomsinfo}}
            <div class="{{slug}} calendar">
              <div class="col-md-12 paddingzero">
                <a class="anchor" id="{{slug}}"></a>
                <h5 class="text">{{date_ru}}</h5>
              </div>
              <div class="calendar-content">
                <div class="times">
                  <div class="time" style="height: {{{timeToPixel}}}px">
                    &nbsp;
                  </div>
                  {{#timeline}}
                  <div class="time" style="height: {{{../timeToPixel}}}px; line-height: {{{../timeToPixel}}}px">
                    {{time}}
                  </div>
                  {{/timeline}}
                </div>
                <div class="rooms" style="height: {{{height}}}px;background-image: url('dependencies/timeline.png');background-repeat: repeat;">
                  {{#venue}}
                  <div class="room" style="width: {{{../width}}};">
                    <div class="room-header" style="height: {{{../timeToPixel}}}px;">
                      {{#if venue }}
                        <span>{{venue}}</span>
                      {{/if}}
                    </div>
                    <div>
                      {{#sessions}}
                      <div class="session" style="top:{{{top}}}px; height:{{{height}}}px;background-color:{{{color}}};">
                        <div class="session-name">
                          <a href="schedule.html#{{session_id}}">
                            {{title}}
                          </a>
                          <span class="session-desc">
                            <br><br>
                        {{#speakers_list}}
                            {{name}}{{#if @last}}{{else}},{{/if}}
                        {{/speakers_list}}
                            <br><br>
                            {{start}} - {{end}}
                        {{#if language}}
                            <br>{{language}}
                        {{/if}}
                          </span>
                        </div>
                      </div>
                      {{/sessions}}
                    </div>
                  </div>
                  {{/venue}}
                  <div class="calendar-footer"></div>
                </div>
              </div>
            </div>
          {{/roomsinfo}}
        </div>
      </div>
      
      <div class="track-names">
      {{#tracknames}}
      {{#if title}}
        <ul class="title-inline title-legend">
          <li  style="background-color:{{{color}}}" class="titlecolor"></li>
          <li>{{title}}</li>
        </ul>
      {{/if}}
      {{/tracknames}}
      </div>
    </div>
  </div>

  <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Generating PDF</h3>
        </div>
        <div class="modal-body">
          <p>Please wait patiently - this may take a few minutes.</p>
        </div>
      </div>
    </div>
  </div>

  {{> footer}}

  <script src="./dependencies/async.min.js" type="text/javascript"></script>
  <script src="./dependencies/jspdf.min.js" type="text/javascript"></script>
  <script src="./js/html2canvas.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".export-pdf").click(function() {
        $('#pdfModal').modal('show');
        let pdf = new jsPDF('l', 'pt', 'a4');
        let options = {
          pagesplit: true
        };
        let count = 0;
        let maxWidth = 0;
        let initialWidth = [];
        let $timeline;
        let numberOfChildElements;
        let widthOfChild;
        let canvasWidth;
        $('.calendar').each(function() {
          let $timeline = $(this);
          name = $timeline.attr('class');
          initialWidth[count] = $timeline.width();
          numberOfChildElements = $timeline.find('.rooms')[0].childElementCount - 1;
          widthOfChild = $timeline.find('.room').width();
          canvasWidth = numberOfChildElements * widthOfChild + 50;
          $timeline.width(canvasWidth);
          if(canvasWidth > maxWidth){
            maxWidth = canvasWidth;
          }
          count++;
        });
        $timeline = $('.calendar').parent();
        let mapValue = $timeline.children();
        let scheduleDate = $timeline.attr('class').match(/(\d{4}-\d{2}-\d{2})/g);
        if (scheduleDate) {
          scheduleDate=scheduleDate[0];
        } else {
          scheduleDate ="Schedule";
        }
        let schedArr = $.map(mapValue, function(value, index) {
          return [value];
        });
        let currDate = 0;
        count = 0;
        async.eachSeries(schedArr, function (child, callback) {
          html2canvas(child, {
            onrendered: function (canvas) {
              pdf.addPage(canvas.width, canvas.height);
              child.style.width = initialWidth[count] + 'px';
              pdf.addImage(canvas, 'png', 0, 0, canvas.width, canvas.height);
              currDate++;
              if(currDate === schedArr.length){
                pdf.deletePage(1);
                $('#pdfModal').modal('hide');
                pdf.save('limmudfsu-schedule.pdf');
              }
              count++;
              callback();
            }
          });
        });
      });
    });
  </script>

</body>
</html>
