<!DOCTYPE html>
<html lang="he">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle_he }}">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle_he }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  {{> fonts}}
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule_he.css">
  <link rel="manifest" href="./manifest.json">
  <link rel="apple-touch-icon" href="./images/icon.png"/>

  {{> analytics}}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body dir="rtl">
  <a id="top"></a>
  {{> navbar_he otherpage='favorite'}}

  <div class="main container" id="session-list">
    <div class="row">
      <div class="middle col-sm-12">
        <h2 class="filter-heading track-heading text-center">
        <span>
          סימניות
        </span>
        </h2>
      </div>
    </div>

    <div class="date-list container">
      <div class="tabs">
        <span class="tabs-nav">
          {{#timeList}}
          <a class="tabs-nav-link" href="./favorite_he.html#{{slug}}"> {{date_short_he}} </a>
          {{/timeList}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="button-list container">
        <button class="btn btn-default export-ics" type="button">
          <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;הוסף ליומן
        </button>
      </div>
    </div>

    <div class="row">
      <div style="margin: 15px 0 0 5px;" class="col-md-9 col-rtl">
        <div class="track-list container">

          {{#timeList}}
            <div style="padding:0" class="col-md-12">
              <a class="anchor" id="{{slug}}"></a>
              <h4 class="text">{{date_he}}</h4>
            </div>
            {{#times}}

            <div class="row time-filter">
              <div class="eventtime col-xs-2 col-sm-2 col-md-2 col-rtl">
                <h4>{{caption}}</h4>
              </div>
              <div class="tracks col-xs-10 col-sm-10 col-md-10 col-rtl">
                {{#sessions}}
                {{#unless is_cancelled}}
                <div id="track-{{session_id}}" class="track-inline">
                  <a class="anchor" id="{{session_id}}"></a>
                  <div style="padding-right:0px;" class="schedule-container">
                    <div id="title-{{session_id}}" class="sizeevent event" style="background-color:{{{color}}}"
                      data-toggle="collapse" data-target="#desc-{{session_id}}, #desc2-{{session_id}}">
                      <h4>
                        {{#if is_cancelled}}
                        <del>{{title_he}}</del>
                        {{else}}                       
                        {{title_he}}
                        {{/if}}
                      </h4>
                      <a id="bookmark-{{session_id}}" class="bookmark">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                      <div id="desc2-{{session_id}}" class="collapse in" style="background-color: {{{color}}}">
                        <div class="row speaker-short-info">
                          <h5>
                          {{#speakers_list}}
                            {{name_he}}{{#if @last}}{{else}},{{/if}}
                          {{/speakers_list}}
                          </h5>
                        </div>
                      </div>
                    </div>
                    <div id="desc-{{session_id}}" class="collapse">
                      {{#if location_he}}
                      <p><i style="color:{{{location_color}}}" class="fa fa-flag" aria-hidden="true"></i>&nbsp;<i>{{location_he}}</i></p>
                      {{/if}}
                      <p><i class="fa fa-language" aria-hidden="true"></i>&nbsp;{{tracktitle_he}} {{#if language_he}}({{{language_he}}}){{/if}}</p>
                      <hr class="clear-both">
                      {{#if description_he}}
                      <p>
                        <span class="tip-description">
                          {{{description_he}}}
                        </span>
                      </p>
                      <hr class="clear-both">
                      {{/if}}
                      <div class="session-speakers-list">
                        {{#each speakers_list}}
                        <a href="speakers_he.html#{{id}}">
                          <p class="session-speakers">
                          {{#if thumb}}
                            <img onError="this.onerror=null;this.src='dependencies/avatar.png';" class="card-img-top speaker-image-small" src="{{{thumb}}}"/>
                          {{else}}
                            <img class="card-img-top speaker-image-small" src="dependencies/avatar.png"/>
                          {{/if}}
                          </p>
                          <span class="graytext ">{{name_he}}</span>
                        </a>
                        {{#if organisation_he}}
                        <p>
                          {{organisation_he}}
                        </p>
                        {{/if}}
                        {{#if short_biography_he}}
                        <p>
                          <i>{{short_biography_he}}</i>
                        </p>
                        {{/if}}
                        {{!--
                        {{#if long_biography_he}}
                        <p>
                          {{long_biography_he}}
                        </p>
                        {{/if}}
                        --}}
                        <hr class="clear-both">
                        {{/each}}
                        <div class="blacktext">
                          <p>{{sessiondate_he}}, <span>{{start}} - {{end}}</span></p><br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{/unless}}
                {{/sessions}}
              </div>
            </div>
            {{/times}}
          {{/timeList}}

        </div>
      </div>
      <div class="track-names">
      {{#tracknames}}
      {{#if title_he}}
        <ul class="title-inline title-legend">
          <li  style="background-color:{{{color}}}" class="titlecolor"></li>
          <li>{{title_he}}</li>
        </ul>
      {{/if}}
      {{/tracknames}}
      </div>
    </div>
  </div>

  {{> footer_he}}
  <script src="./js/FileSaver.js" type="text/javascript"></script>
  <script src="./js/icsGen.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.bookmark').click(function(e){
        var temp = JSON.parse(localStorage["{{eventurls.name}}"]);
        var id = Number($(this).attr('id').substring(9));
        var curColor = $(this).css("color");
        $(this).css("color", "rgb(127, 127, 127)");
        if (curColor == "rgb(255, 255, 0)") {
          temp[id] = 0;
        }
        else {
          $(this).css("color", "rgb(255, 255, 0)");
          temp[id] = 1;
        }
        localStorage["{{eventurls.name}}"] = JSON.stringify(temp);

        e.stopPropagation();
      });

      function initPage() {
        if(localStorage.hasOwnProperty("{{eventurls.name}}") === false) {
          localStorage["{{eventurls.name}}"] = '{}';
        }

        var temp = JSON.parse(localStorage["{{eventurls.name}}"]);

        $('.time-filter').each(function() {
          var timeFlag = 0;
          $(this).find('.track-inline').each(function(){
            var id = Number($(this).attr('id').substring(6));
            if (temp[id] == 1) {
              timeFlag = 1;
              $(this).find('.bookmark').each(function(){
                $(this).css("color", "rgb(255, 255, 0)");
              });
            } else {
              $(this).hide();
            }
          });
          if (!timeFlag) {
            $(this).hide();
          }
        });
      }
      initPage();

      function initICS() {
        {{#timeList}}
        var date = "{{slug}}";
        
          {{#times}}
            {{#sessions}}
        $("#track-{{session_id}}").data("meta", {location: "{{location_he}}", date: date, start: "{{start}}", end: "{{end}}"});
            {{/sessions}}
            
          {{/times}}
        {{/timeList}}
      }
      initICS();

      function exportICS() {
        function removeDashFromDate(date) {
          return date.replace(/-/g, '');
        }
        function removeColonFromTime(time) {
          return time.replace(/:/g, '');
        }
        function convertHtmlToText(name) {
          name = name.replace(/&quot;/g, '"');
          name = name.replace(/\s+/g, ' ');
          return name;
        }
        function uuidv4() {
          return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
          )
        }
        var cal = ics();
        $('.track-inline').each(function() {
          if ($(this).is(":visible")) {
              var sessObj = {};
              sessObj.begin = removeDashFromDate($(this).data("meta").date) + 'T' + removeColonFromTime($(this).data("meta").start) + '00';
              sessObj.stop = removeDashFromDate($(this).data("meta").date) + 'T' + removeColonFromTime($(this).data("meta").end) + '00';
              $(this).find('.event').each(function(){
                sessObj.subject = convertHtmlToText($(this).find('h4').text());
              });
              $(this).find('.speaker-short-info').each(function(){
                sessObj.description = convertHtmlToText($(this).find('h5').text());
              });
              sessObj.location = $(this).data("meta").location;
              sessObj.uid = uuidv4();
              cal.addEvent(sessObj);
          }
        });
        cal.download('limmud', '.ics', false);
      }
      $('.export-ics').click(function() {
        exportICS();
      });
    });
  </script>

</body>
</html>
