<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle }}">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./dependencies/font-awesome.min.css">
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">

  {{> analytics}}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

  <body>
    <a id="top"></a>
    {{> navbar otherpage='rooms_he'}}

  <div class="main container">
    <div class="row">
      <div class="middle col-sm-12">
          <h2 class="filter-heading track-heading text-center">
            <span>
              Комнаты
            </span>
          </h2>
      </div>
    </div>

    <div class="date-list container">
      <div class="tabs">
        <span class="tabs-nav">
          {{#timeList}}
          <a class="tabs-nav-link" href="./rooms.html#{{slug}}"> {{date_short_ru}} </a>
          {{/timeList}}
        </span>
      </div>
    </div>

    <div id="session-list" class="container">
      <div class="row">
        <div style="margin: 15px 0 0 15px;" class="col-md-9">
          <div class="track-list">
            {{#roomsinfo}}
            <div class="paddinzero row">
              <div class="paddinzero col-md-12">
                <a class="anchor" id="{{slug}}"></a>
                <h5 class="text">{{date_ru}}</h5>
              </div>
            </div>
            <div class="row">
              {{#sessions}}
              <div class="row">
                <div style="clear:both" class="col-md-12">
                  {{#if venue }}
                  <h5 class="text">{{venue}}</h5>
                  {{/if}}
                </div>
              </div>
              <div class="eventtime col-xs-2 col-sm-2 col-md-2">
                <h4>{{start}}</h4>
              </div>
              <div class="room-container">
                <div style="padding-right:0px;" class="left-border col-xs-10 col-sm-10 col-md-10">
                  <div id="title-{{session_id}}" class="sizeevent event" style="background-color:{{{color}}}"
                    data-toggle="collapse" data-target="#desc-{{session_id}}, #desc2-{{session_id}}">
                    <h4>
                      {{title}}
                    </h4>
                    <a id="bookmark-{{session_id}}" class="bookmark">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                    <div id="desc2-{{session_id}}" class="collapse in" style="background-color: {{{color}}}">
                      <div class="row speaker-short-info">
                        <h5>
                        {{#speakers_list}}
                          {{name}}{{#if @last}}{{else}},{{/if}}
                        {{/speakers_list}}
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div id="desc-{{session_id}}" class="collapse">
                    {{#if language}}
                    <p><i class="fa fa-language" aria-hidden="true"></i>&nbsp;{{{language}}}</p>
                    {{/if}}
                    {{#if roomname}}
                    <p><i style="color:{{{roomcolor}}}" class="fa fa-flag" aria-hidden="true"></i>&nbsp;<i>{{roomname}}</i></p>
                    {{/if}}
                    <hr class="clear-both">
                    {{#if description}}
                    <p>
                      <span class="tip-description">{{{description}}}
                      </span>
                    </p>
                    <hr class="clear-both">
                    {{else}}
                    &nbsp;
                    {{/if}}
                    <div class="session-speakers-list" aria-expanded="false" aria-controls="desc-{{session_id}}">
                      {{#speakers_list}}
                      <a href="speakers.html#{{id}}">
                        <p>
                          <p class="session-speakers">
                          {{#if thumb}}
                            <img onError="this.onerror=null;this.src='dependencies/avatar.png';" class="card-img-top speaker-image-small" src="{{thumb}}"/>
                          {{else}}
                            <img class="card-img-top speaker-image-small" src="dependencies/avatar.png"/>
                          {{/if}}
                          </p>
                          <span class="graytext">{{name}}</span>
                        </p>
                      </a>
                      {{#if organisation}}
                      <p>
                        {{organisation}}
                      </p>
                      {{/if}}
                      {{#if short_biography}}
                      <p>
                        <i>{{short_biography}}</i>
                      </p>
                      {{/if}}
                      {{!--
                      {{#if long_biography}}
                      <p>
                        {{long_biography}}
                      </p>
                      {{/if}}
                      --}}
                      <hr class="clear-both">
                      {{/speakers_list}}
                      <div class="blacktext">
                        {{#if sessiondate}}
                        <p>{{sessiondate_ru}}, <span>{{start}} - {{end}}</span></p>
                        {{/if}}
                        <p>
                          <ul class="title-inline">
                            <li style="background-color:{{{color}}}" class="titlecolor"></li>&nbsp;
                            <li class="blacktext">{{tracktitle}}</li>
                          </ul>
                        </p><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{/sessions}}
            </div>
            {{/roomsinfo}}
          </div>
        </div>
        <div class="track-names">
        {{#tracknames}}
        {{#if title}}
          <ul class="title-inline title-legend">
            <li  style="background-color:{{{color}}}" class="titlecolor"></li>
            <li>{{title}}</li>
          </ul>
        {{/if}}
        {{/tracknames}}
        </div>
      </div>
    </div>
  </div>

    {{> footer}}
    <script src="./dependencies/jquery.min.js"></script>
    <script src="./dependencies/bootstrap.min.js" type="text/javascript"></script>
    <script src="./js/navbar.js" type="text/javascript"></script>
    <script src="./js/scroll.js" type="text/javascript"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.bookmark').click(function(e){
          var temp = JSON.parse(localStorage["{{eventurls.name}}"]);
          var id = Number($(this).attr('id').substring(9));
          var curColor = $(this).css("color");
          if (curColor == "rgb(255, 255, 0)") {
            $(this).css("color", "");
            temp[id] = 0;
          }
          else {
            $(this).css("color", "rgb(255, 255, 0)");
            temp[id] = 1;
          }
          localStorage["{{eventurls.name}}"] = JSON.stringify(temp);

          e.stopPropagation();
        });

        function initPage() {
          if(localStorage.hasOwnProperty("{{eventurls.name}}") === false) {
            localStorage["{{eventurls.name}}"] = '{}';
          }

          var temp = JSON.parse(localStorage["{{eventurls.name}}"]);
          Object.keys(temp).forEach(function(key) {
            if (temp[key] == 1) {
              $('#bookmark-' + key).css("color", "rgb(255, 255, 0)");
            }
          });
        }
        initPage();
      });
    </script>

  </body>
</html>
