
<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle }}">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
 <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="./dependencies/font-awesome.min.css">
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
  <body style="background-color: #f8f8f8 !important;">
  <a id="top"></a>
  {{> navbar otherpage='speakers_he'}}

<div class="main container" style="background-color: #fff; padding: 2%">
    <div class="row">
      <div class="middle col-sm-12">
          <h2 class="filter-heading track-heading text-center">
          <span>
            Презентеры
          </span>
          </h2>
      </div>
    </div>

  <div class="row">
  {{#speakerslist}}
    <div class="speaker-inline col-xs-12 col-sm-6 col-md-4">
      <a class="anchor" name="{{speaker_id}}"></a>
      <div class="speaker-container"
        data-toggle="collapse"
        data-target="#desc-{{speaker_id}} .collapse"
        aria-expanded="false"
        aria-controls="desc-{{speaker_id}}">
        <p class="speaker-image">
        {{#if photo}}
        <img onError="this.onerror=null;this.src='dependencies/avatar.png';"  class="speaker-photo" alt="{{{name}}}" src="{{{photo}}}"/>
        {{else}}
        <img class="background-image" alt="{{{name}}}" src="dependencies/avatar.png"/>
        {{/if}}
        </p>
        <p class="speaker-name">{{{name}}}</p>
        <div id="desc-{{speaker_id}}">
          <div class=" collapse">
          {{#if long_biography}}
          <hr class="speaker-hr">
          <p class="speaker-bio">
            {{{long_biography}}}
          </p>
          {{/if}}
          <hr class="speaker-hr">
          <div class="speaker-container">
            <h4 class="speaker-title" class="text"><strong>Сессии</strong></h4>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                {{#each sessions}}
                <h5>
                  <strong>
                  {{date_ru}}
                  </strong>
                </h5>
                <p class="speaker-location">{{microlocation}}</p>
                <a href="schedule.html#{{session_id}}">
                  <h4 style="background-color:{{{color}}}"  class="sizeevent event">
                    <span class="time-track">{{start}} - {{end}}&nbsp;&bull;&nbsp;</span><br />
                    {{{title}}}
                  </h4>
                </a>
                {{/each}}
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    {{/speakerslist}}
  </div>
  </div>
</div>
    {{> footer}}
    <script src="./dependencies/jquery.min.js"></script>
    <script src="./dependencies/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="./js/popover.js"></script>
    <script src="./js/navbar.js" type="text/javascript"></script>
    <script src="./js/scroll.js" type="text/javascript"></script>

  </body>
</html>
