<!DOCTYPE html>
<html lang="he">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle_he }}">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle_he }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  {{> fonts}}
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule_he.css">
  <link rel="manifest" href="./manifest.json">
  <link rel="apple-touch-icon" href="./images/icon.png"/>

  {{> analytics}}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body dir="rtl">
  <a id="top"></a>
  {{> navbar_he otherpage='speakers'}}

<div class="main container">
    <div class="row">
      <div class="middle col-sm-12">
          <h2 class="filter-heading track-heading text-center">
          <span>
            מרצים
          </span>
          </h2>
      </div>
    </div>

  <div class="row">
  {{#speakerslist_he}}
    <div class="speaker-inline col-xs-12 col-sm-6 col-md-4 col-rtl">
      <a class="anchor" id="{{speaker_id}}"></a>
      <div class="speaker-container">
        <p class="speaker-image" data-toggle="collapse" data-target="#desc-{{speaker_id}}">
        {{#if photo}}
        <img onError="this.onerror=null;this.src='dependencies/avatar.png';"  class="speaker-photo" alt="{{{name_he}}}" src="{{{photo}}}"/>
        {{else}}
        <img class="background-image" alt="{{{name_he}}}" src="dependencies/avatar.png"/>
        {{/if}}
        </p>
        <p class="speaker-name">{{{name_he}}}</p>
        <div id="desc-{{speaker_id}}" class="collapse">
          {{#if short_biography_he}}
          <p class="speaker-bio">
            <i>{{{short_biography_he}}}</i>
          </p>
          {{/if}}
          {{#if long_biography_he}}
          <p class="speaker-bio">
            {{{long_biography_he}}}
          </p>
          {{/if}}
          <hr class="speaker-hr">
          <div class="speaker-container">
            <h4 class="speaker-title" class="text"><strong>יחידות</strong></h4>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                {{#each sessions}}
                {{#unless is_cancelled}}
                <h5>
                  <strong>
                  {{date_he}}
                  </strong>
                </h5>
                <p class="speaker-location"><i style="color:{{{location_color}}}" class="fa fa-map-marker-alt" aria-hidden="true"></i>&nbsp;<i>{{location_he}}</i></p>
                <a href="schedule_he.html#{{session_id}}">
                  <h4 style="background-color:{{{color}}}"  class="speaker-event">
                    <span class="time-track">{{start}} - {{end}}&nbsp;&bull;&nbsp;</span><br />
                    {{{title_he}}}
                  </h4>
                </a>
                {{/unless}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/speakerslist_he}}
  </div>
  </div>
</div>

  {{> footer}}

  <script type="text/javascript">
    $(document).ready(function() {
      let hash = window.location.hash.substr(1);
      if (hash) {
          $("#desc-" + hash).collapse('toggle');
      }
    });
  </script>

</body>
</html>
